.deck_wrapper {
	grid-area: deck;

}
.deck {
	width: 500px;
	height: 400px;;
	padding: 1rem 2rem;
	display: grid;
	grid-gap: 0.5rem;
	grid-auto-columns: 1fr;
	grid-template:
		'slot-10 slot-11 .' 1fr
		'slot-7 slot-8 slot-9' 1fr
		'slot-4 slot-5 slot-6' 1fr
		'slot-1 slot-2 slot-3' 1fr;
}

.empty_slot, .slot {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: .25rem;
}

.empty_slot {
	background-color: #eee;
	font-family: 'sans';
	color: white;
	font-size: 3rem;
}


